/* цвета страницы
акцент #2196F3
черный #000000
белый #FFFFFF
заголовки #212121
основной цвет текста #757575
*/
:root {
  --accent-color: #2196f3;
  --logo-color: #000000;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --hero-white-color: #ffffff;
  --background-color-style: #2f303a;
  --btn-background-color: #f5f4fa;
}
body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
  decoration: none;
}
ul {
  list-style: none;
}
.logo {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--accent-color);
}
.nav-list .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list .link-active {
  color: var(--accent-color);
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
.contact-list .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--background-color-style);
  text-align: center;
}
.hero-title {
  color: var(--hero-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  font-family: inherit;
  color: var(--hero-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
.benefits-items {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
}
.work-title,
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team {
  background-color: #f5f4fa;
}
.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.basement {
  background-color: var(--background-color-style);
}
.basement .logo {
  color: var(--hero-white-color);
}
.basement-list .link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.basement-list .link.white {
  color: var(--hero-white-color);
}
.basement-list .link:hover,
.basement-list .link:focus {
  color: var(--accent-color);
}
.filter .filter-btn {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--btn-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
}
.filter .filter-btn.active {
  color: var(--hero-white-color);
  background-color: var(--accent-color);
}
.filter-btn:focus,
.filter-btn:hover {
  font-family: inherit;
  color: var(--hero-white-color);
  background-color: var(--accent-color);
}
.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-category {
  font-size: 16px;
  line-height: 1.88;
}
